<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8" />
    <title>ورود به پنل</title>
</head>
<body>
    <h2>ورود به پنل</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <label>نام کاربری:</label><br/>
        <input type="text" name="username" required><br/>
        <label>رمز عبور:</label><br/>
        <input type="password" name="password" required><br/><br/>
        <button type="submit">ورود</button>
    </form>
    <p>کاربر جدید هستید؟ <a href="{{ url_for('main.register') }}">ثبت‌نام</a></p>
</body>
</html>
